.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.709961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-2.016000px;}
._7{margin-left:-1.008000px;}
._0{width:14.688000px;}
._2{width:55.872000px;}
._1{width:106.512000px;}
._3{width:133.248000px;}
._4{width:202.560000px;}
._5{width:266.592000px;}
._6{width:269.280000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fs5{font-size:48.000000px;}
.fs4{font-size:64.000000px;}
.fs0{font-size:76.000000px;}
.fs1{font-size:100.000000px;}
.y15{bottom:104.986005px;}
.y14{bottom:187.780011px;}
.y13{bottom:201.579022px;}
.y0{bottom:213.000000px;}
.y12{bottom:277.473035px;}
.y11{bottom:318.869030px;}
.y10{bottom:339.567029px;}
.yf{bottom:380.963025px;}
.ye{bottom:401.661023px;}
.yd{bottom:422.359021px;}
.yc{bottom:443.057019px;}
.yb{bottom:463.755017px;}
.ya{bottom:484.453015px;}
.y9{bottom:505.151029px;}
.y8{bottom:546.547024px;}
.y7{bottom:567.245023px;}
.y6{bottom:617.274021px;}
.y5{bottom:633.764027px;}
.y4{bottom:688.120024px;}
.y3{bottom:702.864025px;}
.y2{bottom:730.314024px;}
.y1{bottom:752.162024px;}
.h4{height:30.550781px;}
.h7{height:34.945312px;}
.h6{height:34.968750px;}
.h5{height:43.375000px;}
.h2{height:52.769531px;}
.h3{height:67.773438px;}
.h1{height:554.500000px;}
.h0{height:841.900024px;}
.w1{width:464.500000px;}
.w0{width:595.299988px;}
.x0{left:70.500000px;}
.x8{left:72.000000px;}
.x7{left:108.000000px;}
.x4{left:145.200001px;}
.x1{left:163.437000px;}
.x9{left:180.000000px;}
.x2{left:190.100002px;}
.x5{left:206.668002px;}
.x3{left:213.823002px;}
.x6{left:227.584002px;}
.xa{left:369.831013px;}
.xb{left:372.834013px;}
.xc{left:389.208012px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-2.688000pt;}
._7{margin-left:-1.344000pt;}
._0{width:19.584000pt;}
._2{width:74.496000pt;}
._1{width:142.016000pt;}
._3{width:177.664000pt;}
._4{width:270.080000pt;}
._5{width:355.456000pt;}
._6{width:359.040000pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fs5{font-size:64.000000pt;}
.fs4{font-size:85.333333pt;}
.fs0{font-size:101.333333pt;}
.fs1{font-size:133.333333pt;}
.y15{bottom:139.981340pt;}
.y14{bottom:250.373348pt;}
.y13{bottom:268.772030pt;}
.y0{bottom:284.000000pt;}
.y12{bottom:369.964046pt;}
.y11{bottom:425.158707pt;}
.y10{bottom:452.756039pt;}
.yf{bottom:507.950700pt;}
.ye{bottom:535.548031pt;}
.yd{bottom:563.145362pt;}
.yc{bottom:590.742692pt;}
.yb{bottom:618.340023pt;}
.ya{bottom:645.937354pt;}
.y9{bottom:673.534705pt;}
.y8{bottom:728.729365pt;}
.y7{bottom:756.326697pt;}
.y6{bottom:823.032028pt;}
.y5{bottom:845.018702pt;}
.y4{bottom:917.493365pt;}
.y3{bottom:937.152033pt;}
.y2{bottom:973.752032pt;}
.y1{bottom:1002.882698pt;}
.h4{height:40.734375pt;}
.h7{height:46.593750pt;}
.h6{height:46.625000pt;}
.h5{height:57.833333pt;}
.h2{height:70.359375pt;}
.h3{height:90.364583pt;}
.h1{height:739.333333pt;}
.h0{height:1122.533366pt;}
.w1{width:619.333333pt;}
.w0{width:793.733317pt;}
.x0{left:94.000000pt;}
.x8{left:96.000000pt;}
.x7{left:144.000000pt;}
.x4{left:193.600001pt;}
.x1{left:217.916000pt;}
.x9{left:240.000000pt;}
.x2{left:253.466670pt;}
.x5{left:275.557336pt;}
.x3{left:285.097336pt;}
.x6{left:303.445337pt;}
.xa{left:493.108017pt;}
.xb{left:497.112017pt;}
.xc{left:518.944016pt;}
}
