.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.689453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.677734;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.452000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fs0{font-size:76.000000px;}
.fs1{font-size:100.000000px;}
.y9{bottom:2.954001px;}
.y18{bottom:14.968001px;}
.y8{bottom:16.382001px;}
.y12{bottom:19.667998px;}
.y7{bottom:29.810001px;}
.y6{bottom:43.238002px;}
.y13{bottom:49.810004px;}
.y11{bottom:79.952003px;}
.y10{bottom:110.094005px;}
.y15{bottom:137.086975px;}
.yf{bottom:140.236005px;}
.y17{bottom:142.177995px;}
.y16{bottom:167.619994px;}
.ye{bottom:170.378005px;}
.y14{bottom:351.704986px;}
.yd{bottom:382.320969px;}
.yc{bottom:592.982983px;}
.yb{bottom:613.124984px;}
.ya{bottom:633.266982px;}
.y5{bottom:697.452984px;}
.y0{bottom:775.000000px;}
.y4{bottom:781.769987px;}
.y3{bottom:796.513988px;}
.y2{bottom:823.963987px;}
.y1{bottom:845.811987px;}
.h9{height:29.326172px;}
.h4{height:29.798828px;}
.h6{height:31.582031px;}
.h2{height:51.470703px;}
.h5{height:53.712002px;}
.h3{height:67.773438px;}
.h1{height:86.000000px;}
.h8{height:178.093994px;}
.h7{height:180.852005px;}
.h0{height:935.549988px;}
.w5{width:14.650000px;}
.w4{width:139.600006px;}
.w3{width:219.750000px;}
.w7{width:230.649994px;}
.w2{width:260.549988px;}
.w6{width:264.500000px;}
.w1{width:457.500000px;}
.w0{width:609.549988px;}
.x6{left:5.400000px;}
.x9{left:40.849998px;}
.xd{left:48.069998px;}
.xe{left:49.901999px;}
.xf{left:65.512999px;}
.x5{left:72.000000px;}
.x0{left:77.500000px;}
.x8{left:114.549999px;}
.x4{left:152.325001px;}
.x1{left:170.562000px;}
.x2{left:197.225002px;}
.x3{left:220.948002px;}
.xa{left:254.150005px;}
.xb{left:268.799999px;}
.xc{left:302.649994px;}
.x7{left:332.549988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.936000pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fs0{font-size:101.333333pt;}
.fs1{font-size:133.333333pt;}
.y9{bottom:3.938669pt;}
.y18{bottom:19.957335pt;}
.y8{bottom:21.842668pt;}
.y12{bottom:26.223998pt;}
.y7{bottom:39.746668pt;}
.y6{bottom:57.650669pt;}
.y13{bottom:66.413339pt;}
.y11{bottom:106.602670pt;}
.y10{bottom:146.792006pt;}
.y15{bottom:182.782633pt;}
.yf{bottom:186.981340pt;}
.y17{bottom:189.570660pt;}
.y16{bottom:223.493326pt;}
.ye{bottom:227.170673pt;}
.y14{bottom:468.939981pt;}
.yd{bottom:509.761292pt;}
.yc{bottom:790.643977pt;}
.yb{bottom:817.499978pt;}
.ya{bottom:844.355976pt;}
.y5{bottom:929.937312pt;}
.y0{bottom:1033.333333pt;}
.y4{bottom:1042.359983pt;}
.y3{bottom:1062.018651pt;}
.y2{bottom:1098.618650pt;}
.y1{bottom:1127.749316pt;}
.h9{height:39.101562pt;}
.h4{height:39.731771pt;}
.h6{height:42.109375pt;}
.h2{height:68.627604pt;}
.h5{height:71.616002pt;}
.h3{height:90.364583pt;}
.h1{height:114.666667pt;}
.h8{height:237.458659pt;}
.h7{height:241.136007pt;}
.h0{height:1247.399984pt;}
.w5{width:19.533333pt;}
.w4{width:186.133341pt;}
.w3{width:293.000000pt;}
.w7{width:307.533325pt;}
.w2{width:347.399984pt;}
.w6{width:352.666667pt;}
.w1{width:610.000000pt;}
.w0{width:812.733317pt;}
.x6{left:7.200000pt;}
.x9{left:54.466665pt;}
.xd{left:64.093331pt;}
.xe{left:66.535999pt;}
.xf{left:87.350665pt;}
.x5{left:96.000000pt;}
.x0{left:103.333333pt;}
.x8{left:152.733332pt;}
.x4{left:203.100001pt;}
.x1{left:227.416000pt;}
.x2{left:262.966670pt;}
.x3{left:294.597336pt;}
.xa{left:338.866674pt;}
.xb{left:358.399999pt;}
.xc{left:403.533325pt;}
.x7{left:443.399984pt;}
}
