.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.744141;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:5.088000px;}
._0{width:6.576000px;}
._1{width:26.112000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:36.000000px;}
.fs2{font-size:44.000000px;}
.fs5{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:72.000000px;}
.fs1{font-size:96.000000px;}
.ya{bottom:2.379000px;}
.y10{bottom:9.981001px;}
.y12{bottom:15.028000px;}
.y25{bottom:16.003001px;}
.yf{bottom:22.630001px;}
.y24{bottom:84.998000px;}
.y23{bottom:98.797000px;}
.y22{bottom:136.444984px;}
.y21{bottom:251.109965px;}
.y20{bottom:266.978007px;}
.y1f{bottom:282.845970px;}
.y1e{bottom:298.713969px;}
.y1d{bottom:330.449992px;}
.y1c{bottom:362.185997px;}
.y1b{bottom:378.053996px;}
.y1a{bottom:405.124981px;}
.y19{bottom:430.422981px;}
.y18{bottom:455.720980px;}
.y17{bottom:468.369982px;}
.y16{bottom:481.018980px;}
.y15{bottom:493.667980px;}
.y14{bottom:506.316980px;}
.y13{bottom:523.630992px;}
.y11{bottom:550.701992px;}
.ye{bottom:575.999992px;}
.yd{bottom:608.899996px;}
.yc{bottom:621.548994px;}
.yb{bottom:634.197994px;}
.y9{bottom:646.846994px;}
.y8{bottom:686.028984px;}
.y7{bottom:701.896984px;}
.y6{bottom:741.701991px;}
.y0{bottom:755.500000px;}
.y5{bottom:758.346992px;}
.y4{bottom:812.803986px;}
.y3{bottom:826.396990px;}
.y2{bottom:852.697989px;}
.y1{bottom:873.395988px;}
.h7{height:12.649000px;}
.hb{height:25.298000px;}
.h9{height:29.820312px;}
.h8{height:30.572266px;}
.hd{height:32.531250px;}
.h4{height:32.699219px;}
.ha{height:32.900002px;}
.h6{height:33.351562px;}
.h5{height:37.953125px;}
.h2{height:50.027344px;}
.h3{height:65.062500px;}
.hc{height:110.000000px;}
.h1{height:135.000000px;}
.h0{height:935.549988px;}
.w3{width:14.150000px;}
.w2{width:120.500000px;}
.w6{width:232.500000px;}
.w5{width:239.300003px;}
.w4{width:269.350006px;}
.w1{width:461.500000px;}
.w0{width:609.549988px;}
.xa{left:5.400000px;}
.xf{left:40.763999px;}
.x10{left:59.937998px;}
.x11{left:69.413001px;}
.xd{left:71.150003px;}
.x0{left:75.000000px;}
.x8{left:76.550003px;}
.x7{left:112.550003px;}
.x9{left:133.250004px;}
.x4{left:155.513002px;}
.x1{left:171.093002px;}
.x5{left:177.352005px;}
.x2{left:198.603004px;}
.x3{left:218.160004px;}
.x6{left:238.551010px;}
.xb{left:253.750004px;}
.xc{left:267.899998px;}
.xe{left:310.450006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:6.784000pt;}
._0{width:8.768000pt;}
._1{width:34.816000pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:58.666667pt;}
.fs5{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:96.000000pt;}
.fs1{font-size:128.000000pt;}
.ya{bottom:3.172000pt;}
.y10{bottom:13.308001pt;}
.y12{bottom:20.037333pt;}
.y25{bottom:21.337335pt;}
.yf{bottom:30.173335pt;}
.y24{bottom:113.330667pt;}
.y23{bottom:131.729333pt;}
.y22{bottom:181.926646pt;}
.y21{bottom:334.813287pt;}
.y20{bottom:355.970676pt;}
.y1f{bottom:377.127960pt;}
.y1e{bottom:398.285292pt;}
.y1d{bottom:440.599990pt;}
.y1c{bottom:482.914663pt;}
.y1b{bottom:504.071995pt;}
.y1a{bottom:540.166641pt;}
.y19{bottom:573.897308pt;}
.y18{bottom:607.627973pt;}
.y17{bottom:624.493309pt;}
.y16{bottom:641.358640pt;}
.y15{bottom:658.223974pt;}
.y14{bottom:675.089307pt;}
.y13{bottom:698.174656pt;}
.y11{bottom:734.269323pt;}
.ye{bottom:767.999990pt;}
.yd{bottom:811.866661pt;}
.yc{bottom:828.731992pt;}
.yb{bottom:845.597326pt;}
.y9{bottom:862.462659pt;}
.y8{bottom:914.705312pt;}
.y7{bottom:935.862645pt;}
.y6{bottom:988.935988pt;}
.y0{bottom:1007.333333pt;}
.y5{bottom:1011.129322pt;}
.y4{bottom:1083.738647pt;}
.y3{bottom:1101.862653pt;}
.y2{bottom:1136.930651pt;}
.y1{bottom:1164.527985pt;}
.h7{height:16.865334pt;}
.hb{height:33.730667pt;}
.h9{height:39.760417pt;}
.h8{height:40.763021pt;}
.hd{height:43.375000pt;}
.h4{height:43.598958pt;}
.ha{height:43.866669pt;}
.h6{height:44.468750pt;}
.h5{height:50.604167pt;}
.h2{height:66.703125pt;}
.h3{height:86.750000pt;}
.hc{height:146.666667pt;}
.h1{height:180.000000pt;}
.h0{height:1247.399984pt;}
.w3{width:18.866666pt;}
.w2{width:160.666667pt;}
.w6{width:310.000000pt;}
.w5{width:319.066671pt;}
.w4{width:359.133341pt;}
.w1{width:615.333333pt;}
.w0{width:812.733317pt;}
.xa{left:7.200000pt;}
.xf{left:54.351998pt;}
.x10{left:79.917331pt;}
.x11{left:92.550667pt;}
.xd{left:94.866671pt;}
.x0{left:100.000000pt;}
.x8{left:102.066671pt;}
.x7{left:150.066671pt;}
.x9{left:177.666672pt;}
.x4{left:207.350670pt;}
.x1{left:228.124003pt;}
.x5{left:236.469340pt;}
.x2{left:264.804006pt;}
.x3{left:290.880005pt;}
.x6{left:318.068014pt;}
.xb{left:338.333338pt;}
.xc{left:357.199997pt;}
.xe{left:413.933341pt;}
}
