.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:1.680000px;}
._3{width:3.264000px;}
._4{width:15.168000px;}
._0{width:27.600000px;}
._1{width:28.848000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs0{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.y1d{bottom:2.596004px;}
.y12{bottom:16.395007px;}
.y13{bottom:30.194003px;}
.y11{bottom:43.993007px;}
.y0{bottom:48.500000px;}
.y1{bottom:56.500000px;}
.y10{bottom:57.792003px;}
.y1b{bottom:64.136978px;}
.y1c{bottom:71.591002px;}
.yf{bottom:71.591006px;}
.y1e{bottom:85.390002px;}
.ye{bottom:85.390006px;}
.yd{bottom:99.189006px;}
.y1a{bottom:106.825992px;}
.yc{bottom:112.988006px;}
.yb{bottom:126.787005px;}
.y19{bottom:134.423996px;}
.y18{bottom:148.222995px;}
.y17{bottom:162.021980px;}
.y16{bottom:175.820980px;}
.y15{bottom:189.619980px;}
.y14{bottom:203.418979px;}
.ya{bottom:271.121979px;}
.y9{bottom:369.006989px;}
.y8{bottom:382.805987px;}
.y7{bottom:410.403987px;}
.y6{bottom:424.202991px;}
.y5{bottom:464.950989px;}
.y4{bottom:476.380988px;}
.y3{bottom:492.047988px;}
.y2{bottom:505.846988px;}
.h5{height:24.996094px;}
.h6{height:32.531250px;}
.h3{height:33.351562px;}
.h4{height:37.953125px;}
.h8{height:96.593002px;}
.h7{height:137.990005px;}
.h2{height:517.049988px;}
.h1{height:536.000000px;}
.h0{height:609.549988px;}
.w3{width:117.000000px;}
.w6{width:198.449997px;}
.w5{width:200.750000px;}
.w4{width:270.000000px;}
.w1{width:439.000000px;}
.w2{width:441.000000px;}
.w0{width:935.549988px;}
.x9{left:5.400000px;}
.x1{left:14.199999px;}
.xc{left:20.924999px;}
.x0{left:23.500000px;}
.x8{left:28.350000px;}
.xf{left:42.913001px;}
.x5{left:47.130999px;}
.xd{left:52.388999px;}
.xa{left:68.199999px;}
.x6{left:100.661002px;}
.x2{left:117.829001px;}
.x3{left:134.668997px;}
.x7{left:154.834006px;}
.x4{left:157.681006px;}
.xb{left:185.199999px;}
.xe{left:250.025005px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:2.240000pt;}
._3{width:4.352000pt;}
._4{width:20.224000pt;}
._0{width:36.800000pt;}
._1{width:38.464000pt;}
.fs2{font-size:48.000000pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.y1d{bottom:3.461338pt;}
.y12{bottom:21.860010pt;}
.y13{bottom:40.258671pt;}
.y11{bottom:58.657342pt;}
.y0{bottom:64.666667pt;}
.y1{bottom:75.333333pt;}
.y10{bottom:77.056004pt;}
.y1b{bottom:85.515971pt;}
.y1c{bottom:95.454670pt;}
.yf{bottom:95.454675pt;}
.y1e{bottom:113.853336pt;}
.ye{bottom:113.853341pt;}
.yd{bottom:132.252008pt;}
.y1a{bottom:142.434656pt;}
.yc{bottom:150.650674pt;}
.yb{bottom:169.049341pt;}
.y19{bottom:179.231995pt;}
.y18{bottom:197.630660pt;}
.y17{bottom:216.029307pt;}
.y16{bottom:234.427973pt;}
.y15{bottom:252.826640pt;}
.y14{bottom:271.225305pt;}
.ya{bottom:361.495972pt;}
.y9{bottom:492.009318pt;}
.y8{bottom:510.407983pt;}
.y7{bottom:547.205316pt;}
.y6{bottom:565.603987pt;}
.y5{bottom:619.934652pt;}
.y4{bottom:635.174651pt;}
.y3{bottom:656.063984pt;}
.y2{bottom:674.462650pt;}
.h5{height:33.328125pt;}
.h6{height:43.375000pt;}
.h3{height:44.468750pt;}
.h4{height:50.604167pt;}
.h8{height:128.790670pt;}
.h7{height:183.986674pt;}
.h2{height:689.399984pt;}
.h1{height:714.666667pt;}
.h0{height:812.733317pt;}
.w3{width:156.000000pt;}
.w6{width:264.599996pt;}
.w5{width:267.666667pt;}
.w4{width:360.000000pt;}
.w1{width:585.333333pt;}
.w2{width:588.000000pt;}
.w0{width:1247.399984pt;}
.x9{left:7.199999pt;}
.x1{left:18.933332pt;}
.xc{left:27.899998pt;}
.x0{left:31.333333pt;}
.x8{left:37.800001pt;}
.xf{left:57.217334pt;}
.x5{left:62.841332pt;}
.xd{left:69.851998pt;}
.xa{left:90.933332pt;}
.x6{left:134.214669pt;}
.x2{left:157.105335pt;}
.x3{left:179.558663pt;}
.x7{left:206.445341pt;}
.x4{left:210.241341pt;}
.xb{left:246.933332pt;}
.xe{left:333.366673pt;}
}
