.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.669434;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:6.576000px;}
._2{width:157.440000px;}
._1{width:264.096000px;}
._3{width:417.360000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:80.000000px;}
.fs1{font-size:96.000000px;}
.y11{bottom:274.151980px;}
.y10{bottom:343.146976px;}
.yf{bottom:356.945987px;}
.ye{bottom:371.371997px;}
.yd{bottom:427.638980px;}
.yc{bottom:482.834994px;}
.yb{bottom:510.432986px;}
.ya{bottom:538.030978px;}
.y9{bottom:565.629001px;}
.y8{bottom:620.824993px;}
.y7{bottom:648.422992px;}
.y6{bottom:719.115985px;}
.y0{bottom:730.500000px;}
.y5{bottom:733.346984px;}
.y4{bottom:781.553986px;}
.y3{bottom:795.146990px;}
.y2{bottom:821.879988px;}
.y1{bottom:844.877987px;}
.h4{height:24.996094px;}
.h7{height:31.992188px;}
.h8{height:32.531250px;}
.h6{height:33.351562px;}
.h5{height:37.953125px;}
.h2{height:55.585938px;}
.h3{height:65.062500px;}
.h1{height:130.500000px;}
.h0{height:935.549988px;}
.w1{width:492.000000px;}
.w0{width:609.549988px;}
.x0{left:54.000000px;}
.x8{left:72.000000px;}
.x7{left:108.000000px;}
.x4{left:144.131001px;}
.x1{left:149.507000px;}
.x2{left:182.573002px;}
.x9{left:216.000000px;}
.x3{left:219.435001px;}
.x6{left:238.113007px;}
.x5{left:264.125000px;}
.xa{left:360.695995px;}
.xb{left:376.037994px;}
.xc{left:385.512993px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:8.768000pt;}
._2{width:209.920000pt;}
._1{width:352.128000pt;}
._3{width:556.480000pt;}
.fs2{font-size:48.000000pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:106.666667pt;}
.fs1{font-size:128.000000pt;}
.y11{bottom:365.535974pt;}
.y10{bottom:457.529301pt;}
.yf{bottom:475.927982pt;}
.ye{bottom:495.162663pt;}
.yd{bottom:570.185307pt;}
.yc{bottom:643.779992pt;}
.yb{bottom:680.577315pt;}
.ya{bottom:717.374638pt;}
.y9{bottom:754.172001pt;}
.y8{bottom:827.766658pt;}
.y7{bottom:864.563989pt;}
.y6{bottom:958.821313pt;}
.y0{bottom:974.000000pt;}
.y5{bottom:977.795979pt;}
.y4{bottom:1042.071981pt;}
.y3{bottom:1060.195986pt;}
.y2{bottom:1095.839984pt;}
.y1{bottom:1126.503983pt;}
.h4{height:33.328125pt;}
.h7{height:42.656250pt;}
.h8{height:43.375000pt;}
.h6{height:44.468750pt;}
.h5{height:50.604167pt;}
.h2{height:74.114583pt;}
.h3{height:86.750000pt;}
.h1{height:174.000000pt;}
.h0{height:1247.399984pt;}
.w1{width:656.000000pt;}
.w0{width:812.733317pt;}
.x0{left:72.000000pt;}
.x8{left:96.000000pt;}
.x7{left:144.000000pt;}
.x4{left:192.174667pt;}
.x1{left:199.342667pt;}
.x2{left:243.430669pt;}
.x9{left:288.000000pt;}
.x3{left:292.580002pt;}
.x6{left:317.484009pt;}
.x5{left:352.166667pt;}
.xa{left:480.927994pt;}
.xb{left:501.383993pt;}
.xc{left:514.017324pt;}
}
