.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._f{width:5.000000px;}
._3{width:6.840000px;}
._4{width:8.440000px;}
._10{width:36.120000px;}
._11{width:38.280000px;}
._b{width:43.840000px;}
._9{width:46.120000px;}
._c{width:48.320000px;}
._a{width:50.520000px;}
._e{width:51.600000px;}
._d{width:71.600000px;}
._0{width:130.856000px;}
._8{width:213.080000px;}
._1{width:228.668000px;}
._12{width:233.880000px;}
._6{width:255.920000px;}
._7{width:264.800000px;}
._5{width:315.920000px;}
._2{width:338.624000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:40.000000px;}
.fs0{font-size:44.000000px;}
.y0{bottom:0.000000px;}
.y23{bottom:104.048033px;}
.y22{bottom:161.543028px;}
.y21{bottom:173.041990px;}
.y20{bottom:210.986998px;}
.y1f{bottom:224.210020px;}
.y1e{bottom:237.432981px;}
.y1d{bottom:250.656004px;}
.y1c{bottom:263.879026px;}
.y1b{bottom:277.102018px;}
.y1a{bottom:303.548025px;}
.y19{bottom:316.771025px;}
.y18{bottom:343.217009px;}
.y17{bottom:356.440001px;}
.y16{bottom:369.663023px;}
.y15{bottom:382.886015px;}
.y14{bottom:396.109007px;}
.y13{bottom:409.331999px;}
.y12{bottom:422.555021px;}
.y11{bottom:435.778013px;}
.y10{bottom:449.001005px;}
.yf{bottom:462.223997px;}
.ye{bottom:488.670012px;}
.yd{bottom:501.893003px;}
.yc{bottom:528.339018px;}
.yb{bottom:541.562010px;}
.ya{bottom:554.785017px;}
.y9{bottom:581.231018px;}
.y8{bottom:594.454016px;}
.y7{bottom:607.677015px;}
.y6{bottom:653.673010px;}
.y5{bottom:665.172010px;}
.y4{bottom:699.669012px;}
.y3{bottom:734.382011px;}
.y2{bottom:747.031012px;}
.y1{bottom:759.680012px;}
.h3{height:27.109375px;}
.h4{height:27.792969px;}
.h2{height:30.572266px;}
.h0{height:841.950012px;}
.h1{height:842.000000px;}
.w1{width:231.000000px;}
.w0{width:595.349976px;}
.x5{left:14.200000px;}
.x1{left:15.550000px;}
.x4{left:42.550000px;}
.x0{left:66.500000px;}
.x2{left:67.762002px;}
.x3{left:81.939000px;}
.x6{left:148.391002px;}
.x7{left:155.074000px;}
.x8{left:162.969001px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._f{width:6.666667pt;}
._3{width:9.120000pt;}
._4{width:11.253333pt;}
._10{width:48.160000pt;}
._11{width:51.040000pt;}
._b{width:58.453333pt;}
._9{width:61.493333pt;}
._c{width:64.426667pt;}
._a{width:67.360000pt;}
._e{width:68.800000pt;}
._d{width:95.466667pt;}
._0{width:174.474667pt;}
._8{width:284.106667pt;}
._1{width:304.890667pt;}
._12{width:311.840000pt;}
._6{width:341.226667pt;}
._7{width:353.066667pt;}
._5{width:421.226667pt;}
._2{width:451.498667pt;}
.fs1{font-size:53.333333pt;}
.fs0{font-size:58.666667pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:138.730710pt;}
.y22{bottom:215.390704pt;}
.y21{bottom:230.722654pt;}
.y20{bottom:281.315997pt;}
.y1f{bottom:298.946693pt;}
.y1e{bottom:316.577309pt;}
.y1d{bottom:334.208005pt;}
.y1c{bottom:351.838702pt;}
.y1b{bottom:369.469358pt;}
.y1a{bottom:404.730700pt;}
.y19{bottom:422.361366pt;}
.y18{bottom:457.622678pt;}
.y17{bottom:475.253334pt;}
.y16{bottom:492.884031pt;}
.y15{bottom:510.514687pt;}
.y14{bottom:528.145343pt;}
.y13{bottom:545.775998pt;}
.y12{bottom:563.406695pt;}
.y11{bottom:581.037351pt;}
.y10{bottom:598.668007pt;}
.yf{bottom:616.298663pt;}
.ye{bottom:651.560015pt;}
.yd{bottom:669.190671pt;}
.yc{bottom:704.452024pt;}
.yb{bottom:722.082680pt;}
.ya{bottom:739.713356pt;}
.y9{bottom:774.974691pt;}
.y8{bottom:792.605354pt;}
.y7{bottom:810.236020pt;}
.y6{bottom:871.564013pt;}
.y5{bottom:886.896014pt;}
.y4{bottom:932.892016pt;}
.y3{bottom:979.176015pt;}
.y2{bottom:996.041349pt;}
.y1{bottom:1012.906682pt;}
.h3{height:36.145833pt;}
.h4{height:37.057292pt;}
.h2{height:40.763021pt;}
.h0{height:1122.600016pt;}
.h1{height:1122.666667pt;}
.w1{width:308.000000pt;}
.w0{width:793.799967pt;}
.x5{left:18.933333pt;}
.x1{left:20.733333pt;}
.x4{left:56.733334pt;}
.x0{left:88.666667pt;}
.x2{left:90.349336pt;}
.x3{left:109.252000pt;}
.x6{left:197.854669pt;}
.x7{left:206.765334pt;}
.x8{left:217.292001pt;}
}
