.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:7.536000px;}
._0{width:8.640000px;}
._2{width:13.152000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs5{font-size:44.000000px;}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:72.000000px;}
.fs1{font-size:96.000000px;}
.y19{bottom:2.379002px;}
.y10{bottom:9.494998px;}
.yf{bottom:30.193004px;}
.ye{bottom:50.891002px;}
.y18{bottom:65.623999px;}
.yd{bottom:71.589000px;}
.y17{bottom:78.272999px;}
.yc{bottom:92.287002px;}
.yb{bottom:112.985002px;}
.y1a{bottom:130.206973px;}
.ya{bottom:133.683002px;}
.y16{bottom:169.007965px;}
.y15{bottom:301.491010px;}
.y14{bottom:329.141994px;}
.y13{bottom:356.739993px;}
.y12{bottom:384.337978px;}
.y11{bottom:411.935977px;}
.y9{bottom:450.736984px;}
.y8{bottom:632.715988px;}
.y7{bottom:653.413989px;}
.y6{bottom:722.407992px;}
.y0{bottom:733.500000px;}
.y5{bottom:736.638991px;}
.y4{bottom:786.153984px;}
.y3{bottom:799.746988px;}
.y2{bottom:826.047987px;}
.y1{bottom:846.745987px;}
.h4{height:24.996094px;}
.hc{height:29.820312px;}
.hb{height:30.572266px;}
.h8{height:32.531250px;}
.h6{height:33.351562px;}
.h9{height:34.359375px;}
.h5{height:37.953125px;}
.h2{height:50.027344px;}
.h3{height:65.062500px;}
.ha{height:88.542999px;}
.h1{height:129.000000px;}
.h7{height:144.886002px;}
.h0{height:935.549988px;}
.w3{width:14.150000px;}
.w2{width:161.350006px;}
.w5{width:194.500000px;}
.w4{width:297.700012px;}
.w1{width:480.000000px;}
.w0{width:609.549988px;}
.xc{left:5.400000px;}
.xa{left:40.849998px;}
.x0{left:62.000000px;}
.x9{left:66.600000px;}
.x8{left:72.000000px;}
.x7{left:107.450001px;}
.x4{left:174.680002px;}
.x5{left:176.232002px;}
.x1{left:193.293003px;}
.x2{left:218.553001px;}
.xb{left:227.950006px;}
.x6{left:234.776001px;}
.x3{left:239.610001px;}
.xd{left:242.100000px;}
.xe{left:304.774994px;}
.xf{left:348.450006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:10.048000pt;}
._0{width:11.520000pt;}
._2{width:17.536000pt;}
.fs2{font-size:48.000000pt;}
.fs5{font-size:58.666667pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:96.000000pt;}
.fs1{font-size:128.000000pt;}
.y19{bottom:3.172002pt;}
.y10{bottom:12.659997pt;}
.yf{bottom:40.257338pt;}
.ye{bottom:67.854669pt;}
.y18{bottom:87.498665pt;}
.yd{bottom:95.452000pt;}
.y17{bottom:104.363998pt;}
.yc{bottom:123.049335pt;}
.yb{bottom:150.646669pt;}
.y1a{bottom:173.609297pt;}
.ya{bottom:178.244002pt;}
.y16{bottom:225.343953pt;}
.y15{bottom:401.988013pt;}
.y14{bottom:438.855993pt;}
.y13{bottom:475.653324pt;}
.y12{bottom:512.450638pt;}
.y11{bottom:549.247969pt;}
.y9{bottom:600.982646pt;}
.y8{bottom:843.621318pt;}
.y7{bottom:871.218652pt;}
.y6{bottom:963.210656pt;}
.y0{bottom:978.000000pt;}
.y5{bottom:982.185322pt;}
.y4{bottom:1048.205312pt;}
.y3{bottom:1066.329318pt;}
.y2{bottom:1101.397316pt;}
.y1{bottom:1128.994649pt;}
.h4{height:33.328125pt;}
.hc{height:39.760417pt;}
.hb{height:40.763021pt;}
.h8{height:43.375000pt;}
.h6{height:44.468750pt;}
.h9{height:45.812500pt;}
.h5{height:50.604167pt;}
.h2{height:66.703125pt;}
.h3{height:86.750000pt;}
.ha{height:118.057332pt;}
.h1{height:172.000000pt;}
.h7{height:193.181335pt;}
.h0{height:1247.399984pt;}
.w3{width:18.866666pt;}
.w2{width:215.133341pt;}
.w5{width:259.333333pt;}
.w4{width:396.933350pt;}
.w1{width:640.000000pt;}
.w0{width:812.733317pt;}
.xc{left:7.200000pt;}
.xa{left:54.466665pt;}
.x0{left:82.666667pt;}
.x9{left:88.800000pt;}
.x8{left:96.000000pt;}
.x7{left:143.266668pt;}
.x4{left:232.906670pt;}
.x5{left:234.976003pt;}
.x1{left:257.724004pt;}
.x2{left:291.404002pt;}
.xb{left:303.933341pt;}
.x6{left:313.034668pt;}
.x3{left:319.480001pt;}
.xd{left:322.800000pt;}
.xe{left:406.366659pt;}
.xf{left:464.600008pt;}
}
