.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-2.400000px;}
._2{margin-left:-1.008000px;}
._0{width:14.688000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:40.000000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:64.000000px;}
.fs0{font-size:76.000000px;}
.fs1{font-size:100.000000px;}
.yf{bottom:9.494998px;}
.y19{bottom:15.303004px;}
.y10{bottom:30.193004px;}
.ye{bottom:50.891002px;}
.yd{bottom:71.589000px;}
.y18{bottom:84.298003px;}
.yc{bottom:92.287002px;}
.y17{bottom:98.097003px;}
.yb{bottom:112.985002px;}
.y16{bottom:114.401047px;}
.ya{bottom:133.683002px;}
.y15{bottom:253.894015px;}
.y14{bottom:274.592010px;}
.y13{bottom:295.290011px;}
.y12{bottom:315.988037px;}
.y11{bottom:336.686038px;}
.y9{bottom:368.587021px;}
.y8{bottom:522.968018px;}
.y7{bottom:543.666018px;}
.y6{bottom:598.861026px;}
.y0{bottom:610.500000px;}
.y5{bottom:613.525021px;}
.y4{bottom:688.120024px;}
.y3{bottom:702.864025px;}
.y2{bottom:730.314024px;}
.y1{bottom:752.162024px;}
.h8{height:32.531250px;}
.h4{height:33.351562px;}
.h5{height:43.375000px;}
.h2{height:52.806641px;}
.h3{height:67.773438px;}
.h7{height:109.300003px;}
.h6{height:144.886002px;}
.h1{height:157.000000px;}
.h0{height:841.900024px;}
.w3{width:20.700001px;}
.w2{width:127.500000px;}
.w5{width:252.850006px;}
.w4{width:261.700012px;}
.w1{width:457.500000px;}
.w0{width:595.299988px;}
.xa{left:5.400000px;}
.xd{left:63.000000px;}
.xf{left:69.428000px;}
.x0{left:77.500000px;}
.x8{left:107.450001px;}
.x9{left:113.400002px;}
.x4{left:144.950001px;}
.x7{left:150.000000px;}
.x1{left:163.437000px;}
.x2{left:190.100002px;}
.x5{left:206.668002px;}
.x3{left:213.823002px;}
.x6{left:221.625995px;}
.xb{left:240.900002px;}
.xc{left:261.599998px;}
.xe{left:270.449997px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-3.200000pt;}
._2{margin-left:-1.344000pt;}
._0{width:19.584000pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:85.333333pt;}
.fs0{font-size:101.333333pt;}
.fs1{font-size:133.333333pt;}
.yf{bottom:12.659997pt;}
.y19{bottom:20.404006pt;}
.y10{bottom:40.257338pt;}
.ye{bottom:67.854669pt;}
.yd{bottom:95.452000pt;}
.y18{bottom:112.397338pt;}
.yc{bottom:123.049335pt;}
.y17{bottom:130.796004pt;}
.yb{bottom:150.646669pt;}
.y16{bottom:152.534729pt;}
.ya{bottom:178.244002pt;}
.y15{bottom:338.525354pt;}
.y14{bottom:366.122681pt;}
.y13{bottom:393.720015pt;}
.y12{bottom:421.317383pt;}
.y11{bottom:448.914717pt;}
.y9{bottom:491.449361pt;}
.y8{bottom:697.290690pt;}
.y7{bottom:724.888025pt;}
.y6{bottom:798.481368pt;}
.y0{bottom:814.000000pt;}
.y5{bottom:818.033361pt;}
.y4{bottom:917.493365pt;}
.y3{bottom:937.152033pt;}
.y2{bottom:973.752032pt;}
.y1{bottom:1002.882698pt;}
.h8{height:43.375000pt;}
.h4{height:44.468750pt;}
.h5{height:57.833333pt;}
.h2{height:70.408854pt;}
.h3{height:90.364583pt;}
.h7{height:145.733337pt;}
.h6{height:193.181335pt;}
.h1{height:209.333333pt;}
.h0{height:1122.533366pt;}
.w3{width:27.600001pt;}
.w2{width:170.000000pt;}
.w5{width:337.133341pt;}
.w4{width:348.933350pt;}
.w1{width:610.000000pt;}
.w0{width:793.733317pt;}
.xa{left:7.200000pt;}
.xd{left:84.000000pt;}
.xf{left:92.570667pt;}
.x0{left:103.333333pt;}
.x8{left:143.266668pt;}
.x9{left:151.200002pt;}
.x4{left:193.266668pt;}
.x7{left:200.000000pt;}
.x1{left:217.916000pt;}
.x2{left:253.466670pt;}
.x5{left:275.557336pt;}
.x3{left:285.097336pt;}
.x6{left:295.501326pt;}
.xb{left:321.200002pt;}
.xc{left:348.799998pt;}
.xe{left:360.599996pt;}
}
