.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.776000px;}
._6{width:1.392000px;}
._7{width:24.864000px;}
._2{width:77.376000px;}
._3{width:230.736000px;}
._4{width:304.032000px;}
._1{width:317.376000px;}
._5{width:420.000000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:36.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:80.000000px;}
.fs1{font-size:96.000000px;}
.y15{bottom:71.588992px;}
.y12{bottom:103.805038px;}
.y14{bottom:147.481994px;}
.y13{bottom:161.280993px;}
.y11{bottom:347.878021px;}
.y10{bottom:368.576022px;}
.yf{bottom:389.274017px;}
.ye{bottom:409.972019px;}
.yd{bottom:436.670016px;}
.yc{bottom:457.368014px;}
.yb{bottom:478.066012px;}
.ya{bottom:498.764010px;}
.y9{bottom:519.462024px;}
.y8{bottom:540.160019px;}
.y7{bottom:560.858020px;}
.y6{bottom:616.053027px;}
.y0{bottom:627.500000px;}
.y5{bottom:629.852023px;}
.y4{bottom:683.765022px;}
.y3{bottom:701.497026px;}
.y2{bottom:728.230024px;}
.y1{bottom:751.228024px;}
.h5{height:32.531250px;}
.h4{height:33.351562px;}
.h2{height:55.585938px;}
.h3{height:65.062500px;}
.h1{height:139.000000px;}
.h6{height:172.483994px;}
.h0{height:841.900024px;}
.w2{width:196.800003px;}
.w1{width:466.000000px;}
.w0{width:595.299988px;}
.xa{left:5.400000px;}
.xb{left:42.088000px;}
.xc{left:51.562998px;}
.x0{left:59.000000px;}
.x7{left:72.000000px;}
.x4{left:92.751999px;}
.x8{left:108.000000px;}
.x1{left:126.532002px;}
.x2{left:147.098000px;}
.x3{left:180.959999px;}
.x5{left:202.300003px;}
.x6{left:229.983002px;}
.x9{left:318.399994px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-2.368000pt;}
._6{width:1.856000pt;}
._7{width:33.152000pt;}
._2{width:103.168000pt;}
._3{width:307.648000pt;}
._4{width:405.376000pt;}
._1{width:423.168000pt;}
._5{width:560.000000pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:106.666667pt;}
.fs1{font-size:128.000000pt;}
.y15{bottom:95.451989pt;}
.y12{bottom:138.406718pt;}
.y14{bottom:196.642658pt;}
.y13{bottom:215.041325pt;}
.y11{bottom:463.837362pt;}
.y10{bottom:491.434696pt;}
.yf{bottom:519.032023pt;}
.ye{bottom:546.629359pt;}
.yd{bottom:582.226688pt;}
.yc{bottom:609.824019pt;}
.yb{bottom:637.421350pt;}
.ya{bottom:665.018681pt;}
.y9{bottom:692.616032pt;}
.y8{bottom:720.213359pt;}
.y7{bottom:747.810693pt;}
.y6{bottom:821.404036pt;}
.y0{bottom:836.666667pt;}
.y5{bottom:839.802697pt;}
.y4{bottom:911.686696pt;}
.y3{bottom:935.329369pt;}
.y2{bottom:970.973366pt;}
.y1{bottom:1001.637365pt;}
.h5{height:43.375000pt;}
.h4{height:44.468750pt;}
.h2{height:74.114583pt;}
.h3{height:86.750000pt;}
.h1{height:185.333333pt;}
.h6{height:229.978658pt;}
.h0{height:1122.533366pt;}
.w2{width:262.400004pt;}
.w1{width:621.333333pt;}
.w0{width:793.733317pt;}
.xa{left:7.200000pt;}
.xb{left:56.117333pt;}
.xc{left:68.750664pt;}
.x0{left:78.666667pt;}
.x7{left:96.000000pt;}
.x4{left:123.669332pt;}
.x8{left:144.000000pt;}
.x1{left:168.709335pt;}
.x2{left:196.130666pt;}
.x3{left:241.279999pt;}
.x5{left:269.733337pt;}
.x6{left:306.644002pt;}
.x9{left:424.533325pt;}
}
