.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:2.160000px;}
._2{width:5.424000px;}
._3{width:10.848000px;}
._4{width:13.392000px;}
._0{width:21.024000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs5{font-size:64.000000px;}
.fs0{font-size:72.000000px;}
.fs1{font-size:88.000000px;}
.y1a{bottom:2.595996px;}
.yf{bottom:9.494998px;}
.y21{bottom:30.193001px;}
.y10{bottom:30.193004px;}
.ye{bottom:50.891002px;}
.yd{bottom:71.589000px;}
.y19{bottom:71.590999px;}
.y17{bottom:78.490998px;}
.y28{bottom:85.389998px;}
.yc{bottom:92.287002px;}
.y18{bottom:99.188998px;}
.yb{bottom:112.985002px;}
.ya{bottom:133.683002px;}
.y1b{bottom:191.000000px;}
.y27{bottom:191.019989px;}
.y16{bottom:214.016998px;}
.y26{bottom:331.604983px;}
.y25{bottom:352.302979px;}
.y15{bottom:354.601993px;}
.y24{bottom:373.000979px;}
.y14{bottom:375.299988px;}
.y23{bottom:393.698975px;}
.y13{bottom:395.997989px;}
.y22{bottom:414.396976px;}
.y12{bottom:416.695984px;}
.y11{bottom:437.393985px;}
.y20{bottom:446.297989px;}
.y9{bottom:469.294983px;}
.y1f{bottom:621.376984px;}
.y1e{bottom:642.074985px;}
.y8{bottom:644.373993px;}
.y7{bottom:665.071994px;}
.y1d{bottom:697.269992px;}
.y1c{bottom:711.933987px;}
.y6{bottom:720.266986px;}
.y0{bottom:731.500000px;}
.y5{bottom:734.497985px;}
.y4{bottom:787.519987px;}
.y3{bottom:801.614988px;}
.y2{bottom:826.047987px;}
.y1{bottom:846.745987px;}
.h4{height:27.792969px;}
.h8{height:32.531250px;}
.h6{height:33.351562px;}
.h5{height:37.953125px;}
.hb{height:43.375000px;}
.h2{height:48.796875px;}
.h3{height:59.640625px;}
.h9{height:110.391998px;}
.h1{height:129.000000px;}
.h7{height:144.886002px;}
.ha{height:669.500000px;}
.h0{height:935.549988px;}
.w3{width:21.299999px;}
.w2{width:134.100006px;}
.w5{width:237.500000px;}
.w6{width:238.850006px;}
.w4{width:258.600006px;}
.w1{width:468.000000px;}
.w0{width:609.549988px;}
.x9{left:5.400000px;}
.x10{left:48.439002px;}
.x15{left:49.935999px;}
.x13{left:52.780001px;}
.xd{left:63.000000px;}
.xe{left:66.600000px;}
.x0{left:70.000000px;}
.x11{left:72.588004px;}
.x14{left:89.263999px;}
.x8{left:107.450001px;}
.xc{left:144.000000px;}
.x4{left:147.136002px;}
.x7{left:150.000000px;}
.x12{left:156.229999px;}
.x5{left:161.592998px;}
.x1{left:169.085003px;}
.x2{left:195.342003px;}
.x3{left:230.884003px;}
.x6{left:234.750995px;}
.xa{left:242.100006px;}
.xb{left:263.399994px;}
.xf{left:304.100000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:2.880000pt;}
._2{width:7.232000pt;}
._3{width:14.464000pt;}
._4{width:17.856000pt;}
._0{width:28.032000pt;}
.fs2{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs5{font-size:85.333333pt;}
.fs0{font-size:96.000000pt;}
.fs1{font-size:117.333333pt;}
.y1a{bottom:3.461328pt;}
.yf{bottom:12.659997pt;}
.y21{bottom:40.257334pt;}
.y10{bottom:40.257338pt;}
.ye{bottom:67.854669pt;}
.yd{bottom:95.452000pt;}
.y19{bottom:95.454665pt;}
.y17{bottom:104.654664pt;}
.y28{bottom:113.853331pt;}
.yc{bottom:123.049335pt;}
.y18{bottom:132.251998pt;}
.yb{bottom:150.646669pt;}
.ya{bottom:178.244002pt;}
.y1b{bottom:254.666667pt;}
.y27{bottom:254.693319pt;}
.y16{bottom:285.355998pt;}
.y26{bottom:442.139978pt;}
.y25{bottom:469.737305pt;}
.y15{bottom:472.802657pt;}
.y24{bottom:497.334639pt;}
.y14{bottom:500.399984pt;}
.y23{bottom:524.931966pt;}
.y13{bottom:527.997318pt;}
.y22{bottom:552.529301pt;}
.y12{bottom:555.594645pt;}
.y11{bottom:583.191980pt;}
.y20{bottom:595.063985pt;}
.y9{bottom:625.726644pt;}
.y1f{bottom:828.502645pt;}
.y1e{bottom:856.099979pt;}
.y8{bottom:859.165324pt;}
.y7{bottom:886.762658pt;}
.y1d{bottom:929.693322pt;}
.y1c{bottom:949.245316pt;}
.y6{bottom:960.355981pt;}
.y0{bottom:975.333333pt;}
.y5{bottom:979.330647pt;}
.y4{bottom:1050.026649pt;}
.y3{bottom:1068.819984pt;}
.y2{bottom:1101.397316pt;}
.y1{bottom:1128.994649pt;}
.h4{height:37.057292pt;}
.h8{height:43.375000pt;}
.h6{height:44.468750pt;}
.h5{height:50.604167pt;}
.hb{height:57.833333pt;}
.h2{height:65.062500pt;}
.h3{height:79.520833pt;}
.h9{height:147.189331pt;}
.h1{height:172.000000pt;}
.h7{height:193.181335pt;}
.ha{height:892.666667pt;}
.h0{height:1247.399984pt;}
.w3{width:28.399999pt;}
.w2{width:178.800008pt;}
.w5{width:316.666667pt;}
.w6{width:318.466675pt;}
.w4{width:344.800008pt;}
.w1{width:624.000000pt;}
.w0{width:812.733317pt;}
.x9{left:7.200000pt;}
.x10{left:64.585335pt;}
.x15{left:66.581333pt;}
.x13{left:70.373335pt;}
.xd{left:84.000000pt;}
.xe{left:88.800000pt;}
.x0{left:93.333333pt;}
.x11{left:96.784005pt;}
.x14{left:119.018665pt;}
.x8{left:143.266668pt;}
.xc{left:192.000000pt;}
.x4{left:196.181335pt;}
.x7{left:200.000000pt;}
.x12{left:208.306665pt;}
.x5{left:215.457330pt;}
.x1{left:225.446671pt;}
.x2{left:260.456004pt;}
.x3{left:307.845337pt;}
.x6{left:313.001326pt;}
.xa{left:322.800008pt;}
.xb{left:351.199992pt;}
.xf{left:405.466667pt;}
}
