.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:1.200000px;}
._2{width:3.216000px;}
._0{width:8.400000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:72.000000px;}
.fs1{font-size:96.000000px;}
.y1e{bottom:4.664996px;}
.y21{bottom:17.078998px;}
.y1b{bottom:20.533000px;}
.yf{bottom:30.192996px;}
.y11{bottom:50.891002px;}
.ye{bottom:71.589000px;}
.y1d{bottom:84.004996px;}
.y1a{bottom:84.005000px;}
.y20{bottom:86.073997px;}
.y10{bottom:92.286995px;}
.yd{bottom:92.286998px;}
.y1f{bottom:99.872996px;}
.y1c{bottom:103.635986px;}
.yc{bottom:112.985000px;}
.yb{bottom:133.683000px;}
.ya{bottom:154.381000px;}
.y19{bottom:214.711983px;}
.y18{bottom:319.414981px;}
.y17{bottom:340.112976px;}
.y16{bottom:360.810974px;}
.y15{bottom:381.508975px;}
.y14{bottom:402.207001px;}
.y13{bottom:422.904999px;}
.y12{bottom:443.603000px;}
.y9{bottom:470.673981px;}
.y8{bottom:661.620987px;}
.y7{bottom:682.318988px;}
.y6{bottom:723.715991px;}
.y0{bottom:735.000000px;}
.y5{bottom:737.946990px;}
.y4{bottom:786.153984px;}
.y3{bottom:799.746988px;}
.y2{bottom:826.047987px;}
.y1{bottom:846.745987px;}
.h4{height:25.013672px;}
.h9{height:32.531250px;}
.h7{height:33.351562px;}
.h6{height:34.359375px;}
.h5{height:37.953125px;}
.h2{height:50.027344px;}
.h3{height:65.062500px;}
.ha{height:95.208000px;}
.hb{height:111.075996px;}
.h1{height:126.000000px;}
.h8{height:165.584000px;}
.h0{height:935.549988px;}
.w3{width:18.000000px;}
.w7{width:94.000000px;}
.w2{width:126.000000px;}
.w5{width:173.750000px;}
.w6{width:175.350006px;}
.w4{width:257.399994px;}
.w1{width:465.000000px;}
.w0{width:609.549988px;}
.x8{left:5.400000px;}
.x15{left:16.842000px;}
.x13{left:26.875000px;}
.x16{left:31.362999px;}
.x12{left:37.053000px;}
.xe{left:38.699000px;}
.x17{left:40.838000px;}
.xd{left:50.884001px;}
.x10{left:53.682002px;}
.x11{left:62.338999px;}
.x0{left:72.000000px;}
.xc{left:83.225000px;}
.x7{left:108.000000px;}
.x4{left:149.413002px;}
.x1{left:168.493000px;}
.x5{left:175.077003px;}
.x2{left:193.753002px;}
.x6{left:213.772995px;}
.x3{left:214.810001px;}
.x9{left:234.000000px;}
.xa{left:252.000000px;}
.x14{left:256.975000px;}
.xf{left:350.975000px;}
.xb{left:360.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:1.600000pt;}
._2{width:4.288000pt;}
._0{width:11.200000pt;}
.fs2{font-size:48.000000pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:96.000000pt;}
.fs1{font-size:128.000000pt;}
.y1e{bottom:6.219995pt;}
.y21{bottom:22.771997pt;}
.y1b{bottom:27.377333pt;}
.yf{bottom:40.257328pt;}
.y11{bottom:67.854669pt;}
.ye{bottom:95.452000pt;}
.y1d{bottom:112.006662pt;}
.y1a{bottom:112.006667pt;}
.y20{bottom:114.765329pt;}
.y10{bottom:123.049327pt;}
.yd{bottom:123.049330pt;}
.y1f{bottom:133.163995pt;}
.y1c{bottom:138.181315pt;}
.yc{bottom:150.646666pt;}
.yb{bottom:178.243999pt;}
.ya{bottom:205.841333pt;}
.y19{bottom:286.282644pt;}
.y18{bottom:425.886641pt;}
.y17{bottom:453.483968pt;}
.y16{bottom:481.081299pt;}
.y15{bottom:508.678633pt;}
.y14{bottom:536.276001pt;}
.y13{bottom:563.873332pt;}
.y12{bottom:591.470666pt;}
.y9{bottom:627.565308pt;}
.y8{bottom:882.161316pt;}
.y7{bottom:909.758650pt;}
.y6{bottom:964.954655pt;}
.y0{bottom:980.000000pt;}
.y5{bottom:983.929320pt;}
.y4{bottom:1048.205312pt;}
.y3{bottom:1066.329318pt;}
.y2{bottom:1101.397316pt;}
.y1{bottom:1128.994649pt;}
.h4{height:33.351562pt;}
.h9{height:43.375000pt;}
.h7{height:44.468750pt;}
.h6{height:45.812500pt;}
.h5{height:50.604167pt;}
.h2{height:66.703125pt;}
.h3{height:86.750000pt;}
.ha{height:126.944000pt;}
.hb{height:148.101329pt;}
.h1{height:168.000000pt;}
.h8{height:220.778666pt;}
.h0{height:1247.399984pt;}
.w3{width:24.000000pt;}
.w7{width:125.333333pt;}
.w2{width:168.000000pt;}
.w5{width:231.666667pt;}
.w6{width:233.800008pt;}
.w4{width:343.199992pt;}
.w1{width:620.000000pt;}
.w0{width:812.733317pt;}
.x8{left:7.200000pt;}
.x15{left:22.456001pt;}
.x13{left:35.833334pt;}
.x16{left:41.817333pt;}
.x12{left:49.404000pt;}
.xe{left:51.598667pt;}
.x17{left:54.450666pt;}
.xd{left:67.845335pt;}
.x10{left:71.576002pt;}
.x11{left:83.118666pt;}
.x0{left:96.000000pt;}
.xc{left:110.966667pt;}
.x7{left:144.000000pt;}
.x4{left:199.217336pt;}
.x1{left:224.657333pt;}
.x5{left:233.436005pt;}
.x2{left:258.337336pt;}
.x6{left:285.030660pt;}
.x3{left:286.413335pt;}
.x9{left:312.000000pt;}
.xa{left:336.000000pt;}
.x14{left:342.633334pt;}
.xf{left:467.966667pt;}
.xb{left:480.000000pt;}
}
